each post in posts
  .post
    .header
      a.nostyle-a(href='/u/#{post.user}')
        img.img-circle.face(src='/images/qrcode.png', alt='')
      a.nostyle-a(href='/u/#{post.user}')
        span.nickname=post.user
    .content=post.post
