.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form .form-heading,
.form .checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}
.form input[id="inputName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form input[id="inputPassword"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form input[id="repeatPassword"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
  margin-bottom: 10px;
}

.say-box{
  background-color: #eeeeee;
  padding: 20px;
  margin-bottom: 20px;
}

.say-box .form {
  padding: 0;
  margin: 0;
}

.say-box form textarea{
  width: 100%;
  margin-bottom: 10px;
}

.say-box form button{
  width: 5em;
}