body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}


a.nostyle-a {
  text-decoration: none;
  color: #333;
}
a.nostyle-a:hover {
  color: #444;
}

.post{
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1em;
}

.post .header{
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 10px; 
}
.post .header a{
  text-decoration: none;
  color: #333;
}

.post .face{
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}

.post .nickname{
  font-size: 1.2em;
  font-weight: 7;
}

.post .content{
  font-size: 1.2em;
}

